.content ul {
    padding-left: var(--space-medium);
  }
  .content li {
    list-style-type: square;
  }
  
  @media (min-width: 550px) {
    .content .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--space-medium);
    }
  }
  
  @media (min-width: 750px) {
    .content .grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: var(--space-big);
    }
  }
  